<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Agendamentos da Semana</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table mat-table class="table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="diaSemana">
          <th mat-header-cell *matHeaderCellDef> Dia da semana </th>
          <td mat-cell *matCellDef="let element"> {{element.diaSemana}} </td>
        </ng-container>

        <ng-container matColumnDef="scheduleName">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.scheduleName}} </td>
        </ng-container>

        <ng-container matColumnDef="detalhes">
          <th mat-header-cell *matHeaderCellDef> Detalhes </th>
          <td mat-cell *matCellDef="let element"> {{element.detalhes}} </td>
        </ng-container>

        <ng-container matColumnDef="agendamento">
          <th mat-header-cell *matHeaderCellDef> Horário </th>
          <td mat-cell *matCellDef="let element"> {{element.agendamento[element.agendamento.length - 8]+
            element.agendamento[element.agendamento.length - 7] +'/'+element.agendamento[element.agendamento.length -
            11] + element.agendamento[element.agendamento.length - 10] + '/'+ element.agendamento[0] +
            element.agendamento[1]+ element.agendamento[2]+ element.agendamento[3] + ' ' +
            element.agendamento[element.agendamento.length - 5] + element.agendamento[element.agendamento.length -
            4]+':'+ element.agendamento[element.agendamento.length - 2] + element.agendamento[element.agendamento.length
            - 1]}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="open(element)" mat-icon-button aria-label="Editar dia" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="openDelete(element)" mat-icon-button aria-label="Excluir dia" color="danger">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

  </mat-card>
</div>