
<div class="main-wrapper grid-top" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title >Cadastrar vagas</mat-card-title>
    </mat-card-header>

    <!-- <form class="example-form" *ngIf="!editForm" (ngSubmit)="registerUser()" [formGroup]="formGroup">
    <form class="example-form" *ngIf="editForm" (ngSubmit)="editUser()" [formGroup]="formGroup"> -->
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Empresa</mat-label>
          <input matInput id="company-input" name="company-input" placeholder="Empresa" [(ngModel)]="vacancy.companyName">
          <div class="invalid-feedback" *ngIf="companyValid">
            Campo empresa é necessario
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nome da vaga</mat-label>
          <input matInput id="vacancy-input" name="vacancy-input" placeholder="Nome da vaga" [(ngModel)]="vacancy.vacancyName">
          <div class="invalid-feedback" *ngIf="vacancyNameValid">
            Campo vaga é necessario
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <input matInput id="description-input" name="description-input" placeholder="Descrição da vaga" [(ngModel)]="vacancy.description">
          <div class="invalid-feedback" *ngIf="descriptionValid">
            Campo descrição é necessario
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Requisitos</mat-label>
          <input matInput type="text" id="require-input" name="require-input" placeholder="Requisitos" [(ngModel)]="vacancy.require">
          <div class="invalid-feedback" *ngIf="requireValid">
            Campo requisitos é necessario
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Benefícios</mat-label>
          <input matInput type="text" id="benefit-input" name="benefit-input" placeholder="Benefícios" [(ngModel)]="vacancy.benefits">
          <div class="invalid-feedback" *ngIf="benefitsValid">
            <p>Campo benefícios é necessario</p>
          </div>
        </mat-form-field>

      </mat-card-content>

      <button id="registerBtn" (click)="registerVacancie()" mat-stroked-button class="btn-block">
        <span style="color: white;">Cadastrar vaga </span>
      </button>
    <!-- </form>
    </form> -->
  </mat-card>
</div>

