.main-wrapper {
	height: 100%;
}

.mat-row {
	height: auto;
}
  
.mat-cell {
	padding: 30px 30px 8px 0;
}

.mat-header-cell{
	padding: 30px 30px 8px 0;
}

.mat-card-title {
    padding-bottom: 50px;
}