<div fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
      <mat-card-header>
        <mat-card-title>Monte seu horário</mat-card-title>
      </mat-card-header>
  
        <div>
            <br/>
            <h4>Crie sua agenda e a personalize de acordo com sua semana</h4>
            <br/>
            <h3>Escolha os dias para criar os agendamentos</h3>
            <div>
            <mat-select [(ngModel)]="dayOfWeek">
                <mat-option [value]="day.value" *ngFor="let day of DaysOfWeek">
                  {{day.viewValue}}
                </mat-option>
            </mat-select>

            <button (click)="setVisibilityDay()" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>
            </div>
 
        </div>

        <div *ngIf="showMondayCard">

            <mat-divider></mat-divider>

            <h4>Segunda Feira</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-01" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-01" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <input matInput mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
            min-date="minDate" type="text" id="input-time-01" format="HH:mm" short-time="false" ng-model="timeutc"
            class="md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorTime">
                Horário é necessarios
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('1')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>

            <div *ngFor="let increment of this.incrementListMonday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input matInput id="input-cat-{{increment}}1" placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea matInput id="input-det-{{increment}}1" placeholder="Detalhes">
                    </textarea>
                    <mat-form-field>
                    <input matInput id="input-time-{{increment}}1" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showTuesdayCard">

            <mat-divider></mat-divider>

            <h4>Terça Feira</h4>
            
            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-02" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-02" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>
            
            <h4>Selecione um horário</h4>
            <input matInput mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
            min-date="minDate" type="text" id="input-time-02" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorTime">
                Horário é necessario
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('2')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>

            <div *ngFor="let increment of this.incrementListTuesday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input matInput id="input-cat-{{increment}}2" placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea matInput id="input-det-{{increment}}2" placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input matInput id="input-time-{{increment}}2" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showWednesdayCard">

            <mat-divider></mat-divider>

            <h4>Quarta Feira</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-03" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-03" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
            min-date="minDate" type="text" id="input-time-03" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorTime">
                Horário é necessario
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('3')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>

            <div *ngFor="let increment of this.incrementListWednesday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input matInput id="input-cat-{{increment}}3" placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea matInput id="input-det-{{increment}}3" placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input id="input-time-{{increment}}3" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showThursdayCard">

            <mat-divider></mat-divider>

            <h4>Quinta Feira</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-04" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-04" [(ngModel)]="schedule.details">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <textarea matInput mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
            min-date="minDate" type="text" id="input-time-04" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">
            </textarea>
            <div class="invalid-feedback" *ngIf="errorTime">
                Horário é necessarios
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('4')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>
            <div *ngFor="let increment of this.incrementListThursday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input matInput id="input-cat-{{increment}}4" placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea matInput id="input-det-{{increment}}4" placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input id="input-time-{{increment}}4" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showFridayCard">

            <mat-divider></mat-divider>

            <h4>Sexta Feira</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-05" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>
            

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-05" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <input matInput mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-05" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorTime">
                Horário é necessario
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('5')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>
            <div *ngFor="let increment of this.incrementListFriday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input matInput id="input-cat-{{increment}}5" placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea matInput id="input-det-{{increment}}5" placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input matInput id="input-time-{{increment}}5" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showSaturdayCard">

            <mat-divider></mat-divider>

            <h4>Sábado</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-06" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-06" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
            min-date="minDate" type="text" id="input-time-06" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorDetail">
                Horário é necessario
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('6')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>
            
            <div *ngFor="let increment of this.incrementListSaturday">
                <mat-divider></mat-divider>
                    <mat-form-field>
                    <input id="input-cat-{{increment}}6" matInput placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea id="input-det-{{increment}}6" matInput placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input matInput id="input-time-{{increment}}6" mdc-datetime-picker="" date="false" time="true" placeholder="Horário" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>

        <div *ngIf="showSundayCard">

            <mat-divider></mat-divider>

            <h4>Domingo</h4>

            <h4>Categoria da Atividade</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-00" [(ngModel)]="schedule.category">
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorCategory">
                Categoria é necessaria
            </div>

            <h4>Detalhes da Atividade</h4>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Detalhes" id="input-det-00" [(ngModel)]="schedule.details">
                </textarea>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="errorDetail">
                Detalhes são necessarios
            </div>

            <h4>Selecione um horário</h4>
            <input matInput mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-00" format="HH:mm" short-time="false" ng-model="timeutc"
            class="md-input" [(ngModel)]="schedule.time">
            <div class="invalid-feedback" *ngIf="errorTime">
                Detalhes são necessarios
            </div>

            <div class="buttons-cad">
            <button (click)="addActivity('0')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            </div>
            
            <div *ngFor="let increment of this.incrementListSunday">
                    <mat-divider></mat-divider>
                    <mat-form-field>
                    <input id="input-cat-{{increment}}0" matInput placeholder="Categoria" required>
                    </mat-form-field> 
                    <textarea id="input-det-{{increment}}0" matInput placeholder="Detalhes" required>
                    </textarea>
                    <mat-form-field>
                    <input matInput id="input-time-{{increment}}0" mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input" required>
                    </mat-form-field>
            </div>

        </div>
  
        <button class="btn-block" (click)="registerSchedule()" *ngIf="showButton" mat-stroked-button> Salvar</button>
  
      
    </div>
  </div>

