<div fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
      <mat-card-header>
        <mat-card-title>Monte seu horário</mat-card-title>
      </mat-card-header>
  
        <div>

            <label>Crie sua agenda e a personalize de acordo com sua semana</label>

            <label>Escolha os dias para criar os agendamentos</label>
            <mat-select [(ngModel)]="dayOfWeek">
                <mat-option [value]="day.value" *ngFor="let day of DaysOfWeek">
                  {{day.viewValue}}
                </mat-option>
            </mat-select>

            <button (click)="setVisibilityDay()" mat-fab color="primary" aria-label="Salvar atividade diária">
                Adicionar dia
            </button>
 
        </div>

        <div *ngIf="showMondayCard">

            <label>Segunda Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-01" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-01" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-01" format="HH:mm" short-time="false" ng-model="timeutc"
            class="md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('1')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>

            <div *ngFor="let increment of this.incrementListMonday">
                <mat-form-field>
                    <input id="input-cat{{increment}}1" matInput placeholder="Categoria">
                    </mat-form-field> 
                    <mat-form-field>
                    <input id="input-det{{increment}}1" matInput placeholder="Detalhes">
                    </mat-form-field>
                    <input id="input-time{{increment}}1" mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
                    min-date="minDate" type="text" format="HH:mm" short-time="false" ng-model="timeutc"
                    class="md-input">
            </div>
            

        </div>

        <div *ngIf="showTuesdayCard">

            <label>Terça Feira</label>
            <br/>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-02" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-02" [(ngModel)]="schedule.details">
            </mat-form-field>
            <br/>
            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-02" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('2')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="tuesdayActivities"></div>

        </div>

        <div *ngIf="showWednesdayCard">

            <label>Quarta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-03" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-03" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-03" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('3')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>

            <div [innerHTML]="wednesdayActivities"></div>

        </div>

        <div *ngIf="showThursdayCard">

            <label>Quinta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-04" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-04" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-04" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('4')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="thursdayActivities"></div>

        </div>

        <div *ngIf="showFridayCard">

            <label>Sexta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-05" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-05" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-05" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('5')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="fridayActivities"></div>

        </div>

        <div *ngIf="showSaturdayCard">

            <label>Sábado</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-06" [(ngModel)]="schedule.category">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-06" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-06" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('6')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="saturdayActivities"></div>

        </div>

        <div *ngIf="showSundayCard">

            <label>Domingo</label>

            <label>Categoria da Atividade</label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" id="input-cat-00" [(ngModel)]="schedule.category">
            </mat-form-field>

            <label>Detalhes da Atividade</label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes" id="input-det-00" [(ngModel)]="schedule.details">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="input-time-00" format="HH:mm" short-time="false" ng-model="timeutc"
            class="md-input" [(ngModel)]="schedule.time">

            <button (click)="addActivity('0')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="sundayActivities"></div>

        </div>
  
        <!-- <button (click)="registerSchedule()" mat-stroked-button class="btn-block">Salvar</button> -->
  
      
    </div>
  </div>

