<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Monte seu horário</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>

            <label>Crie sua agenda e a personalize de acordo com sua semana</label>

            <label>Escolha os dias para criar os agendamentos</label>
            <mat-select [(ngModel)]="dayOfWeek">
                <mat-option [value]="day.value" *ngFor="let day of DaysOfWeek">
                  {{day.viewValue}}
                </mat-option>
            </mat-select>

            <button (click)="setVisibilityDay()" mat-fab color="primary" aria-label="Salvar atividade diária">
                Adicionar dia
            </button>
 
        </mat-card-content>

        <mat-card-content *ngIf="showMondayCard">

            <label>Segunda Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class="md-input">

            <button (click)="addActivity('1')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>

            <div [innerHTML]="sundayActivities"></div>
            

        </mat-card-content>

        <mat-card-content *ngIf="showTuesdayCard">

            <label>Terça Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('2')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="tuesdayActivities"></div>

        </mat-card-content>

        <mat-card-content *ngIf="showWednesdayCard">

            <label>Quarta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('3')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>

            <div [innerHTML]="wednesdayActivities"></div>

        </mat-card-content>

        <mat-card-content *ngIf="showThursdayCard">

            <label>Quinta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('4')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="thursdayActivities"></div>

        </mat-card-content>

        <mat-card-content *ngIf="showFridayCard">

            <label>Sexta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('5')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="fridayActivities"></div>

        </mat-card-content>

        <mat-card-content *ngIf="showSaturdayCard">

            <label>Sábado</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('6')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="saturdayActivities"></div>

        </mat-card-content>

        <mat-card-content *ngIf="showSundayCard">

            <label>Domingo</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button (click)="addActivity('0')" mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
            </button>

            <button mat-fab color="warn" aria-label="Deletar dia">
                <mat-icon>delete</mat-icon>
            </button>
            
            <div [innerHTML]="sundayActivities"></div>

        </mat-card-content>
  
        <button mat-stroked-button class="btn-block">Salvar</button>
  
      </form>
    </mat-card>
  </div>

