<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-header>
            <mat-card-title fxLayoutAlign="center center">
                Frequência Cardíaca
            </mat-card-title>
        </mat-card-header>

        <!-- <div id="heart">
            <img class="bottom" src="https://i.stack.imgur.com/iBCpb.png" width="100px">
        </div> -->
        <mat-card-content>
            <div id="heart">
                <img class="bottom heart-pos" src="https://i.stack.imgur.com/iBCpb.png" width="100px">
                <div class="inline">
                    <div>
                        <label>BPM em estado de repouso(atual)</label><br />
                        <label>79 BPM</label>
                    </div>
                    <div style="padding-left: 300px;">
                        <label>Periodo de análise</label><br />
                        <mat-select>
                            <mat-option value="diario">Diário</mat-option>
                            <mat-option value="semanal" disabled>Semanal</mat-option>
                            <mat-option value="mensal">Mensal</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="inline" style="padding-top: 30%">
                    <div style="width: 180px;">
                        <label>Média no período</label><br />
                        <label>79 BPM</label>
                    </div>
                    <div style="padding-left: 100px;">
                        <label>Maior no período</label><br />
                        <label>79 BPM</label>
                    </div>
                    <div style="padding-left: 120px;">
                        <label>Menor no período</label><br />
                        <label>79 BPM</label>
                    </div>
                </div>

            </div>
        </mat-card-content>


    </mat-card>

</div>