#heart img{
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
   }

   //animação do coração
  
   @keyframes heartFadeInOut {
    0% {transform: scale(1);}
    25% {transform: scale(.97);}
    35% {transform: scale(.9);}
    45% {transform: scale(1.1);}
    55% {transform: scale(.9);}
    65% {transform: scale(1.1);}
    75% {transform: scale(1.03);}
    100% {transform: scale(1);}
  }
  
  #heart img.bottom { 
    animation-name: heartFadeInOut; 
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }

  .main-wrapper {
	height: 50%;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 75%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
    height: 100%;
    padding-top: 30%;
}

.heart-pos{
    padding-top: 10%;
}

.divhalf{
    width: 50%;
}

.inline{
    display: flex;
}