<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-header>
            <mat-card-title fxLayoutAlign="center center">
                Frequência Cardíaca
            </mat-card-title>
        </mat-card-header>

        <!-- <div id="heart">
            <img class="bottom" src="https://i.stack.imgur.com/iBCpb.png" width="100px">
        </div> -->
        <mat-card-content>
            <div id="heart" style="align-items: center;">
                <img class="bottom heart-pos" src="https://i.stack.imgur.com/iBCpb.png" width="100px">
                <div class="inline" style="padding-top: 10px;">
                    <div>
                        <mat-label>BPM em estado de repouso(atual)</mat-label><br />
                        <input style="border: 0; border-width: 0; box-shadow: none; text-align: center;" id="actual-heart" value="0 BPM">
                    </div>
                    <div style="padding-left: 60%;">
                        <mat-label>Periodo de análise</mat-label><br />
                        <mat-select value="Atual">
                            <mat-option value="diario">Diário</mat-option>
                            <mat-option value="semanal" disabled>Semanal</mat-option>
                            <mat-option value="mensal">Mensal</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="inline" style="padding-top: 20%">
                    <div style="padding-left: 1%;">
                        <mat-label>Média no período</mat-label><br />
                        <input matInput style="border: 0; border-width: 0; box-shadow: none; text-align: center;" id="average-heart" value="0 BPM">
                    </div>
                    <div style="padding-left: 30%;">
                        <mat-label>Maior no período</mat-label><br />
                        <input matInput style="border: 0; border-width: 0; box-shadow: none; text-align: center;" id="max-heart" value="0 BPM">
                    </div>
                    <div style="padding-left: 20%;">
                        <mat-label>Menor no período</mat-label><br />
                        <input matInput style="border: 0; border-width: 0; box-shadow: none; text-align: center;" id="min-heart" value="0 BPM">
                    </div>
                </div>

            </div>
        </mat-card-content>


    </mat-card>

</div>