<mat-toolbar color="primary" class="app-header">
  <div>
    <button *ngIf="storeService.profileVisible" (click)="clickhandler()">
      <mat-icon>menu</mat-icon>
    </button>
  <a class="positronx">Cuidado Remoto</a>
  </div>
  <span class="nav-tool-items">
    <button mat-button *ngIf="storeService.profileVisible" mat-raised-button routerLink="login" routerLinkActive="active">Sair</button>
  </span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="side-content">
    <a mat-icon-button class="menu-button">
      <mat-icon class="avatar">account_circle</mat-icon>
    </a>
    <p class="name">Bem Vindo(a)</p>
    <h4 class="name">{{this.usuarioLogado}}</h4>
    <button (click)="editProfile()" mat-button routerLink="home" class="menu-button">
      Editar Perfil
    </button>
    <button (click)="goHome()" mat-button class="menu-button">
      Início
    </button>
    </div>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>





