html,
body {
	overflow-y: scroll;
}

.box {
	max-width: 330px;
	margin-top: 200px !important;
	
}

.mat-select{
	width: 270px;
}

.buttons-cad{
	width: 100%;
	padding-top: 10%;
}

.button-add{
	padding-left: 275px;
	padding-top: 10%;
}